/*
We made the margin of body and h1 to 0 so that our DIV expands to all corners
*/
body {
    margin: 0px;
    text-align: center;
    font-family: sans-serif;
    font-family: 'Merriweather', serif;
}

h1 {
    /*font size in pixels will not change the size of use change the font size on the browser
    because it is not dynamic. In order for us to be dynamic font size we need to use percentage
    instead of pixels. 100% = 16 pixels so to get to 90pixels we need to 90px/16 = 562.5 percent
    We can also use em instead of pixels to make the font size dynaminc 1em = 16 px* or 90px = 5.625em */
    font-size: 5.625em;
    margin-top: 50px;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #dff6f0;
    position: relative;
    padding-top: 100px;
 }

.profile-picture {
    border-radius: 50%;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.middle-container {

    margin-top: 50px;
}

.bottom-container {

}